@use "../util" as *;

.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: toRem(30);

  @include breakpoint(medium) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include breakpoint(large) {
    grid-template-columns: repeat(4, 1fr);
  }
}

.card {
  position: relative;
  overflow: hidden;
  background-color: var(--dark-card);
  color: var(--dark-text1);
  text-align: center;
  border-radius: toRem(5);
  padding: toRem(25);
  cursor: pointer;
  transition: background-color 150ms ease-in-out;

  &:hover {
    background-color: var(--dark-card-hover);
  }

  &--facebook {
    border-top: toRem(5) solid var(--facebook);
  }
  &--twitter {
    border-top: toRem(5) solid var(--twitter);
  }
  &--instagram {
    padding-top: toRem(30);
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: toRem(5);
      width: 100%;
      background: linear-gradient(
        225deg,
        var(--instagram-end) 0%,
        var(--instagram-middle) 50.91%,
        var(--instagram-start) 100%
      );
    }
  }
  &--youtube {
    border-top: toRem(5) solid var(--youtube);
  }

  &__platform {
    display: flex;
    justify-content: center;
    align-items: center;
    height: toRem(20);
    margin-bottom: toRem(28);
  }

  &__icon {
    margin-right: toRem(8);
    // &--facebook {
    // }
    // &--twitter {
    // }
    // &--instagram {
    // }
    // &--youtube {
    // }
  }

  &__username {
    font-size: toRem(12);
    font-weight: 700;
  }

  &__subtitle {
    font-size: toRem(14);
    font-weight: 700;
  }

  &__followers {
    margin-bottom: toRem(25);
  }

  &__count {
    color: var(--light-bg);
    font-weight: 700;
    letter-spacing: toRem(-2);
    line-height: 1;
    margin-bottom: toRem(4);

    &--big {
      font-size: toRem(56);
    }
    &--small {
      font-size: toRem(32);
    }
  }

  &__label {
    color: var(--dark-text1);
    font-size: toRem(12);
    font-weight: 400;
    letter-spacing: toRem(5);
    text-transform: uppercase;
  }

  &__change {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: toRem(12);
    font-weight: 700;
    &--up {
      color: var(--limegreen);
    }
    &--down {
      color: var(--brightred);
    }
    img {
      margin-right: toRem(4);
    }
  }
}
