@use "../util" as *;
.header {
  margin-top: toRem(36);
  @include breakpoint(medium) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  // &__title {
  // }

  &__subtitle {
    font-size: toRem(14);
    font-weight: 700;
    color: var(--dark-text1);
  }
}
