@use "../util" as *;
.header {
  margin-top: toRem(36);
  @include breakpoint(medium) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__subtitle {
    font-size: toRem(14);
    font-weight: 700;
    color: var(--text-color2);
  }

  &__divider {
    width: 100%;
    border: 1px solid var(--card-bg);
    margin: toRem(32) 0;
    @include breakpoint(medium) {
      display: none;
    }
  }
}
